<h2>My Tasks</h2>
<ul class="list-group">
  <li *ngFor="let todo of todos" class="list-group-item d-flex justify-content-between align-items-center">
    <span [class.text-decoration-line-through]="todo.done">{{ todo.title }}</span>
    <div>
      <button class="btn btn-sm btn-success" (click)="toggleDone(todo.id)">Done</button>
      <button class="btn btn-sm btn-danger" (click)="deleteTodo(todo.id)">Delete</button>
    </div>
  </li>
  <li><a class="nav-link" routerLink="/todos">To-Do List</a></li>
</ul>
<a>
    <button class="btn btn-sm btn-warning" [routerLink]="['/edit', todo.id]">Edit</button>
</a>
