<p>navbar works!</p>
<div class="d-flex flex-column p-3" style="height: 100vh;">
  <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
    <span class="fs-4">My ToDo App</span>
  </a>
  <hr>
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/">Home</a>
  </li>
  <li>
    <a class="nav-link" routerLink="/add">Add Task</a>
  </li>
  <li>
    <a class="nav-link" routerLink="/about">About</a>
  </li>
</ul>
</div>
